.mhs {
    // min-height: 8rem;
    display: flex;
    justify-content: center;
}

.profiler {
    display: block;
    // max-height: 6rem;
    // object-fit: fill;
    padding: 0px;
    background-color: transparent;
    object-position: center;
    border-radius: 10rem;
    // width: 13%;
    // height: 118%;
    // min-height: 6rem;
}


.nhs-id {

    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    /* identical to box height */


    color: #9E9D9D;
}

.val {

    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height */


    color: #000000;
}

.label {

    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}


img {

    width: 8rem !important;
    height: 8rem;
    object-fit: cover;
}

.rounder {
    border-radius: 1rem;
    background-color: white;
}

::ng-deep .modal-content {
    background-color: transparent;
}

.badge{
    font-size:small;
}