<!-- <div class="d-flex justify-content-lg-center align-items-lg-center h">

    <div class="card shadow-sm round">
        <div class="design">
            <img class="brand" src="./assets/images/logo1.png" alt="TCG">
            <h5 class="text-center text-uppercase nunito text-light">Authentication</h5>
        </div>
        <div class="card-body px-4 py-0">

            <router-outlet></router-outlet>
        </div>
    </div>

</div> -->

<!-- <span
  >"The best doctors are not those who cure the most diseases but those who
  prevent the most."</span
> -->
<div class="d-flex justify-content-lg-end align-items-lg-center h">
  <div class="card border-0 shadow-sm">
    <div class="design">
      <img class="brand" src="./assets/images/icon.png" alt="TCG" />
      <h5 class="text-center text-uppercase nunito text-light">
        Authentication
      </h5>
    </div>

    <div class="card-body px-4 py-0">
      <div class="buffer">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<div class="overlay"></div>
<!-- <img class="bg" src="../../assets/images/login (2).jpg" alt=""> -->
