// @import '../../scss/tables/tables.scss';
// @import '../../scss/paginator/paginator.scss';

// .table tbody td.text-name {
//     // width: 20% !important;
//     width: auto !important;
// }

@import '../../scss/tables/tables.scss';
@import '../../scss/paginator/paginator.scss';

.table tbody td.text-name {
    // width: 20% !important;
    width: auto !important;
}


.cursor {
    cursor: pointer;
}

img {
    margin-left: 10px;
}


.cursor {
    cursor: pointer;
}

img {
    margin-left: 10px;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.cdk-overlay-container,
.cdk-overlay-pane {
    z-index: 9999 !important;
}

thead {
    background-color: #f9f9f9 !important;
}

.row {
    flex-wrap: nowrap !important;
}

// .card {
//     width: 40rem !important;
// }

.column {
    flex: 0 0 auto;
    width: 24rem;

}

@media screen and (max-width: 800px) {
    .column {
        flex: none;
    }

    .row {
        // align-items: center;
        justify-content: center;
        flex-wrap: wrap !important;
    }

}


.card-sm {
    height: 100%;
    width: 95%;
    background: #fff;

    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

// .round-profile{
//     width: ;
// }
.image-size {
    // height: 126px;
    object-fit: contain;
    // width: 100%;
}

.name {
    // font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Grey Blue 60 */

    color: #6B7A99;
}

.des {
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 16px;
    /* identical to box height */


    color: #9B9B9B;

}

.pill-btn {
    color: #7D8FB3;

    background: #F7F8FA;
    border: none;
    // border-radius;
    border-radius: 25px;
    font-size: 10px;
    padding: 0.5rem 1rem;
    font-weight: 750;
    margin-bottom: 1vh;
    // font-family: Roboto;
    // font-style: normal;
}

.time {
    height: 100%;
}



// #container {
//     position: relative;
// }

// #img2 {
//     position: absolute;
//     bottom: 50px;
//     left:31%;
// }

// .contract {
//     max-height: 750px;
// }

// .sign {
//     max-height: 70px;
// }


.modal-lg {
    --bs-modal-width: 1200px !important;
}

.overflow {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.date {
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */
    width: 7.5rem;

    color: #0D67B5;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    // filter: invert(100%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='7' height='5' viewBox='0 0 7 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.684675 0.25H6.31311C6.70249 0.25 6.89718 0.837891 6.62155 1.18242L3.80843 4.70156C3.6378 4.91484 3.35999 4.91484 3.18936 4.70156L0.376238 1.18242C0.100613 0.837891 0.2953 0.25 0.684675 0.25Z' fill='%230D67B5'/%3e%3c/svg%3e ");
    background-position: left 0rem center;
    background-size: 0.5rem;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}

.rounded-0 {
    border-radius: 10px !important;
}

.drag {
    // cursor: grab;

    &:active {
        cursor: grabbing;
    }
}


::ng-deep .mat-form-field {
    margin-right: 1rem;
}